@import '../base/mixins';

.criteria {
  padding:    0 10px 0 57px;
  text-align: center;
  font-size:  1.11rem;

  @include MQ (M) { padding-left: 40px; }
  @include MQ (S) { padding-left: 20px; }

  &__title {
    @include proximaTitle(2rem, 55px);

    @include MQ (ML) { margin-bottom: 25px; }
    @include MQ (S) { margin-bottom: 15px; }
  }

  &__item {
    text-align: left;
    width:      $half;

    &_first { margin-bottom: 47px; }
    &_second { margin-bottom: 102px; }
    &_third {
      width:         70%;
      margin-bottom: 99px;
    }
    &_fourth { margin-bottom: 61px }

    @include MQ (ML) { margin-bottom: 40px; }
    @include MQ (M) { margin-bottom: 20px; }
    @include MQ (S) { margin-bottom: 10px; }
  }

  &__count {
    float:        left;
    color:        #11d1a1;
    margin-right: 40px;
    font:         4rem $gilroy;
    font-weight:  $extraBold;

    @include MQ (ML) { margin-right: 20px; }
    @include MQ (S) { margin-right: 5px; }
  }
}