@import '../base/mixins';

.documents {
  text-align:    center;
  font-size:     0.89rem;
  margin-bottom: 60px;

  @include MQ (ML) { margin-bottom: 30px }
  @include MQ (M) { margin-bottom: 15px }

  &__area {
    text-align: left;
    padding:    0 50px 0 140px;

    @include MQ (L) { padding-left: 100px; }
    @include MQ (M) { padding-left: 50px; }
    @include MQ (S) { padding: 0 20px; }
  }

  &__image {
    background:      url("../../img/pictures/doc-memo.png") no-repeat;
    background-size: cover;
    width:           11.4rem;
    height:          15.9rem;
    box-shadow:      $shadow;

    &_opacity {
      display:  block;
      position: relative;
      width:    inherit;
      height:   inherit;

      &:hover {
        background-color: rgba(61, 61, 61, .7);

        .documents__search { visibility: visible; }
      }
    }
  }

  &__search {
    background: url("../../img/icons/search-icon.png") no-repeat;
    visibility: hidden;
    position:   absolute;
    top:        48%;
    left:       46%;
    width:      21px;
    height:     21px;
  }

  &__title {
    display: block;
    @include proximaTitle(.89rem, 9px);

    @include MQ (M) { margin-bottom: 5px; }
    @include MQ (S) { margin-bottom: 1px; }

    &_big { @include proximaTitle(1.33rem, 5px); }
  }

  &__column {
    width: $half;

    @include MQ (L) { width: 70% }

    &_right {
      padding-left: 70px;

      @include MQ (L) { padding-left: 30px; }
      @include MQ (M) { padding-left: 20px; }
    }
  }

  &__item {
    margin-bottom: 20px;
    @extend .flex;
  }

  &__icon {
    @include MQ (ML) { width: 45px; }
    @include MQ (M) { width: 35px; }
    @include MQ (SM) { width: 30px; }
    @include MQ (S) { width: 20px; }
  }
  &__text {
    margin-left: 20px;

    @include MQ (M) { margin-left: 15px; }
    @include MQ (S) { margin-left: 10px; }
  }
}