.investor__back {
  background: #f2fbfe;
  padding: 67px 0 56px;
  margin-bottom: 70px;
}

.investor__area {
  text-align: center;
}

.investor__title {
  text-align: left;
  margin-left: 83px;
}

.investor__items {
  margin: 75px 0 77px 0;
  padding: 0 40px 0 40px;
}

.investor__item {
  width: 20%;
}

.investor__item_inside {
  width: 85%;
  margin: 0 auto;
}

.investor__image {
  margin: 0 auto 18px auto;
}

.investor__text {
  margin-bottom: 35px;
  font: 1.33rem 'Gilroy', sans-serif;
  font-weight: $extraBold;
}


