@import '../base/mixins';

.sequence {
  padding-left:  76px;
  margin-bottom: 40px;
  font:          1rem $gilroy;
  font-weight:   $light;

  @include MQ (M) { padding-left: 46px; }
  @include MQ (S) { padding-left: 26px; }

  &__back {
    background: #f2fbfe;
    @include angle(both);
  }

  &__text { margin-bottom: 75px; }
}

.steps {
  padding:     50px 0 50px;
  font-size:   0;
  font-family: sans-serif;

  &__item {
    display:          inline-block;
    position:         relative;
    vertical-align:   middle;
    transform-origin: 0 50%;
  }

  &__item &__item {
    position:     absolute;
    padding-left: 50px;

    &:before {
      content:    "";
      position:   absolute;
      z-index:    0;
      top:        50%;
      right:      0;
      left:       0;
      width:      8.44rem;
      height:     4px;
      background: #1d95ee;
    }
  }

  &__wrapper {
    display:          inline-block;
    vertical-align:   middle;
    transform-origin: 0 50%;
  }

  &__link {
    display:         inline-block;
    font:            .67rem $gilroy;
    font-weight:     $light;
    line-height:     20px;
    position:        relative;
    width:           1.22rem;
    height:          1.22rem;
    margin:          0 0 -100%;
    border-radius:   50%;
    color:           #fff;
    background:      #f8aa02;
    vertical-align:  middle;
    text-align:      center;
    text-decoration: none;
    transform:       translate(50%, -50%);
    z-index:         1;

    &_2 { transform: translate(100%, -50%); }
    &_3 { transform: translate(150%, -50%); }
    &_4 { transform: translate(200%, -50%); }
    &_5 { transform: translate(250%, -50%); }
    &_6 { transform: translate(300%, -50%); }
    &_7 { transform: translate(350%, -50%); }
    &_8 { transform: translate(400%, -50%); }
  }
}

.item__text {
  position:  absolute;
  color:     $primary-color;
  font-size: .89rem;

  &_up {
    bottom:        0;
    margin-bottom: 27px;
  }
  &_down { margin-top: 27px; }
}