.sources__back {
  position: relative;
  background: #f2fbfe;
}

.sources__back:before, .sources__back:after {
  content: '';
  position: absolute;
  background: inherit;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.sources__back:before {
  top: 0;
  transform-origin: left top;
  transform: skewY(-5deg);
}

.sources__back:after {
  bottom: 0;
}

.sources__area {
  text-align: center;
  margin-bottom: 54px;
  padding: 0 76px 63px;
  font-weight: $light;
}

.sources__text {
  text-align: left;
  width: 800px;
  margin: 206px 0 56px;
  font: $main-font 'Gilroy', sans-serif;
}

.sources__item {
  text-align:    left;
  margin-bottom: 60px;
}

.sources__item_third {
  text-align: left;
  margin-bottom: 0;
}

.sources__content {
  background: $white;
  width: $half;
  padding: 39px 22px;
}

.sources__title {
  display: block;
  color: $blue;
  margin-bottom: 19px;
  font-size: 2rem;
  font-weight: $bold;
}

.sources__image_first {
  background: url('../img/source-im-1.png');
  @extend .sources__image;
}

.sources__image_second {
  background: url('../img/source-im-2.png');
  @extend .sources__image;
}

.sources__image_third {
  width: $half;
}

.sources__image {
  box-sizing: border-box;
  padding: 181px 56px;
  width: $half;
  background-repeat: no-repeat;
  background-size: cover;
}

