<div>
  <div class="calculator__graphic"></div>
  <div>
    <div class="checkout__first">
      <img class="checkout__icon checkout__icon_green" src="img/graphic-check-1.png"/>
      <div>Прирост вашей доли</div>
    </div>
    <div class="checkout">
      <img class="checkout__icon checkout__icon_blue" src="img/graphic-check-2.png"/>
      <div>Сумма ваших вложений</div>
    </div>
    <div class="checkout">
      <img class="checkout__icon checkout__icon_orange" src="img/graphic-check-3.png"/>
      <div>Удорожание вашей доли</div>
    </div>
  </div>
</div>