<div class="sources__item_wrap">
  <h1 class="title_margin_big">Реализованный</h1>
  <div class="flex sources__item">
    <div class="sources__content">
      <h2 class="sources__title">КопиКупи</h2>
      <p><span class="bold">Сумма на сегодня</span> - 16 228 626 рублей <br/>
        (выдано пайщикам)</p>
      <p><span class="bold">Численность на сегодня</span> - 1 724 пайщиков</p>
      <p><span class="bold">Доход инвестора</span> - 10% от членских взносов
        по программе «КОПИКУПИ» со всех городов присутствия.</p>
      <p><span class="bold">Особенности Проекта</span> - некоммерческий социально
        ориентированный проект, главная задача которого:
        удовлетворить насущные нужды Пайщиков кооператива
        в приобретении недвижимости и транспортных средств.
        «КОПИКУПИ» предоставляет самые демократичные и
        комфортные в нашей стране условия для получения
        займов на эти цели. ( 0 % годовых)</p>
      <p><span class="bold">Монетизация</span> - Взимается Членский Взнос при выдаче</p>
    </div>
    <div class="sources__image_first">
      <a href="#" class="logo__link logo__link_first">
        <img class="sources__logo sources__logo_first" src="img/logos/source-logo-1.png">
      </a>
    </div>
  </div>
</div>
