<div class="sources__item">
  <div class="title_margin_big">Реализованный</div>
  <div class="flex">
    <div class="sources__content">
      <div class="sources__title">КопиКупи</div>
      <div><div class="bold">Сумма на сегодня</div> - 16 228 626 рублей <br/>
        (выдано пайщикам)</div><br/>
      <div><div class="bold">Численность на сегодня</div> - 1 724 пайщиков</div><br/>
      <div><div class="bold">Доход инвестора</div> - 10% от членских взносов
        по программе «КОПИКУПИ» со всех городов
        присутствия.</div><br/>
      <div><div class="bold">Особенности Проекта</div> - некоммерческий социально
        ориентированный проект, главная задача которого:
        удовлетворить насущные нужды Пайщиков кооператива
        в приобретении недвижимости и транспортных средств.
        «КОПИКУПИ» предоставляет самые демократичные и
        комфортные в нашей стране условия для получения
        займов на эти цели. ( 0 % годовых)</div><br/>
      <div><div class="bold">Монетизация</div> - Взимается Членский Взнос при выдаче</div>
    </div>
    <div class="sources__image_first">
      <a href="#"><img src="img/source-logo-1.png"></a>
    </div>
  </div>
</div>
