<div class="sources__item_wrap">
  <h1 class="title_margin_big">Реализуемый</h1>
  <div class="flex sources__item">
    <div class="sources__content">
      <h2 class="sources__title">OPENh</h2>
      <p class="sources__text_inline"><span class="bold">Сумма на сегодня</span> - 64 592 619 руб.</p>
      <span><span class="bold">Численность на сегодня</span> - 5 637,</span>
      <p><span class="bold">Доход инвестора</span> - уточняется</p>
      <p><span class="bold">Особенности Проекта</span>
        - реализация сделок с недвижимостью, отсутствие комиссий посредникам, комплексный подход по
        сделкам с недвижимостью, открытость и прозрачность пользователей сервиса, реализация
        дополнительных услуг , проводимых через офисную сеть “Открытого Дома”</p>
      <p><span class="bold">Монетизация</span> - реализация и оплата дополнительных услуг через
        сервис.</p>
      <p><span class="bold">Статус проекта</span> - Альфа апрель 2017 года - Бета - Октябрь 2017
        года, Релиз - Январь 2018 года.</p>
    </div>
    <div class="sources__image_second">
      <a href="#" class="logo__link logo__link_second">
        <img class="sources__logo sources__logo_second" src="img/logos/source-logo-2.png">
      </a>
    </div>
  </div>
</div>
