<div class="sources__item">
  <div class="title_margin_big">Реализуемый</div>
  <div class="flex">
    <div class="sources__content">
      <span class="sources__title">OPENh</span>
      <div>
        <div class="bold">Сумма на сегодня</div>
        - 64 592 619 руб. (выдано пайщикам)
      </div>
      <div>
        <div class="bold">Численность на сегодня</div>
        - 5 637,
      </div>
      <div>
        <div class="bold">Доход инвестора</div>
        - уточняется
      </div>
      <br/>
      <div>
        <div class="bold">Особенности Проекта</div>
        - реализация сделок с
        недвижимостью, отсутствие комиссий посредникам,
        комплексный подход по сделкам с недвижимостью,
        открытость и прозрачность пользователей сервиса,
        реализация дополнительных услуг , проводимых
        через офисную сеть “Открытого Дома”
      </div>
      <br/>
      <div>
        <div class="bold">Монетизация</div>
        - реализация и оплата дополнительных услуг через сервис.
      </div>
      <br/>
      <div>
        <div class="bold">Статус проекта</div>
        - Альфа апрель 2017 года - Бета - Октябрь 2017 года, Релиз - Январь 2018 года.
      </div>
    </div>
    <div class="sources__image_second">
      <a href="#"><img src="img/source-logo-2.png"></a>
    </div>
  </div>
</div>
