<div class="sources__item_third">
  <div class="title_margin_big">Перспективные <span class="selected">проекты</span></div>
  <div class="flex">
    <div class="sources__content">
      <div class="sources__title">Совместные закупки</div>
      <div>После запуска проекта Инвесторам будет
        распределяться 15% от доходов по данному
        направлению деятельности</div><br/>
      <div class="sources__title">Другое</div>
      <div>В новых реализуемых проектах с использованием
        офисов также будут включаться постоянные
        ежемесячные начисления доходов,
        в зависимости от Проекта от 2-15%.</div>
    </div>
    <img class="sources__image_third" src="img/source-im-3.png"/>
  </div>
</div>