<div class="sources__item_third">
  <h1 class="title_margin_big">Перспективные <span class="selected">проекты</span></h1>
  <div class="flex">
    <div class="sources__content">
      <h2 class="sources__title">Совместные закупки</h2>
      <p>После запуска проекта Инвесторам будет
        распределяться 15% от доходов по данному
        направлению деятельности</p>
      <h2 class="sources__title">Другое</h2>
      <p>В новых реализуемых проектах с использованием
        офисов также будут включаться постоянные
        ежемесячные начисления доходов,
        в зависимости от Проекта от 2-15%.</p>
    </div>
    <div class="sources__image_third"></div>
  </div>
</div>