<div class="footer__column footer__column_small">
  <h2 class="footer__title">Компания</h2>
  <ul class="footer__list">
    <li><a class="footer__link" href="#">О компании</a></li>
    <li><a class="footer__link" href="#">Вакансии</a></li>
    <li><a class="footer__link" href="#">Сотрудничество</a></li>
    <li><a class="footer__link" href="#">Пресс-центр</a></li>
    <li><a class="footer__link" href="#">Реквизиты</a></li>
    <li><a class="footer__link" href="#">Отчетность</a></li>
    <li><a class="footer__link" href="#">Документы</a></li>
  </ul>
</div>