<div class="footer__column_medium footer__column_cont">
  <div class="footer__title footer__title_margin">Контакты</div>
  <div class="footer__contacts">
    <div class="flex">
      <img class="contacts__icon" src="img/footer-icon-1.png"/>
      <div class="contacts__text"><a class="link" href="tel:88003003040">8-800-300-30-40</a><br/>
        <div class="contacts__text_small">Звонок в России бесплатный</div>
      </div>
    </div>
    <div class="flex contacts__item_margin">
      <img class="contacts__icon_big" src="img/footer-icon-2.png"/>
      <div>Омск</div>
    </div>
    <div class="flex">
      <img class="contacts__icon" src="img/footer-icon-3.png"/>
      <a class="link contacts__item_margin" href="tel:7812322632">+7 (812)-32-26-32</a>
    </div>
    <a class="link contacts__item contacts__email" href="mailto:support@openi.ru">Email:
      support@openi.ru</a>
  </div>
</div>