<div class="footer__column footer__column_cont">
  <h2 class="footer__title footer__title_margin">Контакты</h2>
  <div class="contacts">
    <div class="flex">
      <div class="contacts__icon contacts__icon_ph"></div>
      <div class="contacts__text"><a class="footer__link" href="tel:88003003040">8-800-300-30-40</a><br/>
        <span class="contacts__text_small">Звонок в России бесплатный</span>
      </div>
    </div>
    <div class="flex contacts__item_margin">
      <div class="contacts__icon contacts__icon_loc"></div>
      <span>Омск</span>
    </div>
    <div class="flex">
      <div class="contacts__icon contacts__icon_ph"></div>
      <a class="footer__link contacts__item_margin" href="tel:7812322632">+7 (812)-32-26-32</a>
    </div>
    <a class="footer__link contacts__item contacts__email" href="mailto:support@openi.ru">Email:
      support@openi.ru</a>
  </div>
</div>