<div class="footer__column_medium footer__column_fb">
  <div class="footer__title">Фейсбук</div>
  <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {
      return;
    }
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.12';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));</script>
  <div id="fb-root"></div>
  <div class="fb-page" data-href="https://www.facebook.com/openhouseoffice/" data-tabs="timeline"
       data-height="241px" data-small-header="false"
       data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
    <blockquote cite="https://www.facebook.com/openhouseoffice/" class="fb-xfbml-parse-ignore"><a
        href="https://www.facebook.com/openhouseoffice/">Открытый Дом</a></blockquote>
  </div>
</div>