<div class="footer__column footer__column_big">
  <a href="#" class="logo__link"><img class="footer__logo" src="img/footer-logo.png"/></a>
  <p class="footer__text_small">Станьте инвестиционным партнером
    «Открытого Дома». Участвуйте в Проекте
    по созданию федеральной сети офисов
    Компании в 37 городах России.</p>
  <p class="footer__text_small">Проект реализует Федеральная Офисная
    Сеть «Открытый Дом».
    Срок окупаемости Проекта составляет
    1,5-2 года.</p>
  <span class="worked flex">Разработка сайта
    <span class="company">apptech</span>
  </span>
</div>