<div class="footer__column_big">
  <a href="#"><img class="footer__logo" src="img/footer-logo.png"/></a>
  <div class="footer__text_small">Станьте инвестиционным партнером
    «Открытого Дома». Участвуйте в Проекте
    по созданию федеральной сети офисов
    Компании в 37 городах России.<br/><br/>
    Проект реализует Федеральная Офисная
    Сеть «Открытый Дом».
    Срок окупаемости Проекта составляет
    1,5-2 года.
  </div>
  <div class="worked flex">Разработка сайта
    <div class="company">apptech</div>
  </div>
</div>