@media screen and (max-width: 1024px) {
  html {
    font-size: 95%;
  }
  .btn_orange {
    height: 30px;
  }
  .btn_blue {
    height: 40px;
    width:  200px;
  }
  .btn__countries_orange {
    width: 120px;
  }
  .btn__nav_orange {
    margin-top: 20px;
  }
  .nav__link {
    margin-right: 25px;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 80%;
  }
  .header__back {
    height: 700px;
  }
  .header {
    margin-bottom: 60px;
    padding-left:  60px;
  }
  .header__logo {
    margin-bottom: 60px;
  }
  .header__content {
    margin-bottom: 100px;
  }
}