$main-font: 18px;
$half: 50%;

$shadow: 0 0 30px rgba(0, 0, 0, 0.2);
$primary-color: #3d3d3d;
$black: #000;
$white: #fff;
$light-gray: #f9fafc;
$gray: #e8e8e8;
$dark-gray: #727272;
$asphalt: #354052;
$blue: #04aef4;
$dark-blue: #1d95ee;
$orange: #f8aa02;

$extraBold: 800;
$bold: 700;
$light: 300;
