$S: 510px;
$SM: 620px;
$M: 768px;
$ML: 850px;
$L: 1024px;

$half: 50%;

$proximaNova: 'Proxima Nova', sans-serif, Arial, Tahoma;
$gilroy: 'Gilroy', sans-serif, Arial, Tahoma;
$openSans: 'Open Sans', sans-serif, Arial;
$lato: 'Lato', sans-serif, Arial;

$shadow: 0 0 30px rgba(0, 0, 0, 0.2);
$primary-color: #3d3d3d;
$black: #000;
$white: #fff;
$light-gray: #f9fafc;
$gray: #e8e8e8;
$dark-gray: #727272;
$asphalt: #354052;
$blue: #04aef4;
$dark-blue: #1d95ee;
$orange: #f8aa02;

$light: 300;
$semiBold: 600;
$bold: 700;
$extraBold: 800;