<div class="container countries">
  <div class="countries__line"></div>
  <div class="countries__area flex">
    <div class="countries__item countries__item_first">
      <span>Магнитогорск</span>
      <div class="countries__text countries__text_backed">
        <span class="selected">Подготовка</span>
        <p>к открытию</p>
      </div>
    </div>
    <div class="countries__item countries__item_second">
      <p class="countries__title_spb">Санкт-Петербург</p>
      <div class="countries__text countries__text_second">
        <span class="countries__title selected">1 место</span>
        <p>в рейтинге</p>
      </div>
    </div>
    <div class="countries__item countries__item_third">
      <span>Тюмень</span>
      <div class="countries__text">
        <span class="countries__title selected">2 место</span>
        <p>в рейтинге</p>
      </div>
    </div>
    <div class="countries__item countries__item_fourth">
      <span>Москва</span>
      <div class="countries__text">
        <span class="countries__title selected">3 место</span>
        <p>в рейтинге</p>
      </div>
    </div>
    <div class="countries__item countries__item_fifth">
      <span>Казань</span>
      <div class="countries__text">
        <span class="countries__title selected">4 место</span>
        <p>в рейтинге</p>
      </div>
    </div>
    <div class="countries__item countries__item_sixth">
      <span>Екатеринбург</span>
      <div class="countries__text">
        <span class="countries__title selected">5 место</span>
        <p>в рейтинге</p>
      </div>
    </div>
    <div class="countries__item_right">
      <div class="countries__icon"></div>
      <p class="icon__text">30 городов</p>
      <button type="button" class="btn btn__countries_orange">Меморандум</button>
    </div>
  </div>
  <div class="countries__raising">Сбор средств</div>
</div>