<div class="container countries__container_shadow">
  <div class="countries__line"></div>
  <div class="countries__area flex">
    <div class="countries__item countries__item_first">
      Могнитогорск
      <div class="countries__text_backed">
        <div class="selected">Подготовка</div>
        <br/> к открытию
      </div>
    </div>
    <div class="countries__item countries__item_second">
      Сантк-Петербург
      <div class="countries__text">
        <div class="countries__title selected">1 место</div>
        <br/> в рейтинге
      </div>
    </div>
    <div class="countries__item countries__item_third">
      Тюмень
      <div class="countries__text">
        <div class="countries__title selected">2 место</div>
        <br/> в рейтинге
      </div>
    </div>
    <div class="countries__item countries__item_fourth">
      Москва
      <div class="countries__text">
        <div class="countries__title selected">3 место</div>
        <br/> в рейтинге
      </div>
    </div>
    <div class="countries__item countries__item_fifth">
      Казань
      <div class="countries__text">
        <div class="countries__title selected">4 место</div>
        <br/> в рейтинге
      </div>
    </div>
    <div class="countries__item countries__item_sixth">
      Екатеринбург
      <div class="countries__text">
        <div class="countries__title selected">5 место</div>
        <br/> в рейтинге
      </div>
    </div>
    <div class="countries__item_right">
      <img src="img/counties-plus.png"/>
      <br/> 30 городов
      <button type="button" class="btn btn__countries_orange">Меморандум</button>
    </div>
  </div>
  <div class="countries__raising">Сбор средств</div>
</div>