<div class="container header__area flex">
  <input type="checkbox" class="btn__menu" id="btn-menu" />
  <label for="btn-menu" class="header__label">Меню</label>
  <ul class="flex header__nav">
    <li class="nav__link"><a href="#">О проекте</a></li>
    <li class="nav__link"><a href="#">Главная</a></li>
    <li class="nav__link"><a href="#">Источники дохода</a></li>
    <li class="nav__link"><a href="#">Калькулятор доходности</a></li>
    <li class="nav__link"><a href="#">Миссия</a></li>
    <li class="nav__link"><a href="#">Меморандум</a></li>
    <li class="nav__link"><a href="#">Контакты</a></li>
  </ul>
  <button type="button" class="btn btn__nav_orange">Личный кабинет</button>
</div>