<div class="about">
  <div class="flex">
    <div class="about__column_left">
      <div class="about__text">
        <h2 class="about__title">О проекте</h2>
        <p>Станьте Инвестором «Открытого Дома».<br/>
          Участвуйте в проекте по созданию федеральной сети
          офисов Компании в 37 городах России c населением
          более 500 тыс. человек.</p>
        <p>Инвестируя в этот грандиозный проект, Вы зарабатываете
          и помогаете создать комфортные условия для
          миллионовнаших сограждан, связанные с приобретением
          недвижимости или транспортного средства
          на максимально выгодных условиях.</p>
      </div>
    </div>
    <div class="about__column_right"></div>
  </div>
  <div class="container about__video">
    <div class="about__video_shadow flex">
      <iframe class="video__column_left"
              src="https://www.youtube.com/embed/xSE9Qk9wkig" frameborder="0"
              allow="autoplay; encrypted-media"
              allowfullscreen></iframe>
      <div class="video__column_right">
        <div class="about__text_wrap">
          <p>Начисление вашего дохода напрямую зависит
            от того, когда именно вы вложились в проект.</p>
          <p>Автор проекта «Федеральная офисная сеть
            «Открытый Дом» Андрей Герман подробно
            раскрывает подробности проекта, наглядно
            показывая всю механику зачисления ваших
            инвестиций и порядок дальнейших действий
            с этими денежными средствами.</p>
        </div>
      </div>
    </div>
    <p class="video__text_down">В личном кабинете Инвестора виден рейтинг и весь список городов,
      а также вся документация по проекту</p>
    <button class="btn btn_blue_big">Регистрация</button>
    <img class="about__image" src="img/about-im-balloon.png"/>
  </div>
</div>