<div class="container calculator__area">
  <div class="title">Онлайн <div class="selected">калькулятор</div> доходности
  </div>
  <div class="calculator__text">Мы не ищем арендаторов для офиса, мы сами реализуем наши
    существующие проекты ! А вы получаете - 10% дохода
    от готового работающего проекта и (приблизительно) 5% прирост стоимости недвижимости ежегодно,
    тк.к мы выбираем объекты с высокой ликвидностью.
  </div>
  <div class="flex">
    
    //= calculator/form.html
    //= calculator/income.html
    //= calculator/graphic.html
  </div>
</div>