<div class="container criteria__area">
  <div class="criteria__title">
    Основные
    <div class="selected">критерии</div>
    успеха при реализации проекта
  </div>
  <div class="criteria__item_first">
    <div class="criteria__count">01</div>
    <div>Наличие уникального финансового продукта
      «КОПИКУПИ» с объемом рынка сбыта
      более 327 млрд руб.
    </div>
  </div>
  <div class="flex_end">
    <div class="criteria__item_second">
      <div class="criteria__count">02</div>
      <div>Практически полное отсутствие
        конкурентов в кооперативной нише.
      </div>
    </div>
  </div>
  <div class="criteria__item_third">
    <div class="criteria__count">03</div>
    <div>Наличие на базе сервиса OdivENi.RU<br/>
      отработанных технологий: «Народное финансирование»,
      «Поэтапная реализация» и «Совместное накопление».
    </div>
  </div>
  <div class="flex_end">
    <div class="criteria__item_fourth">
      <div class="criteria__count">04</div>
      <div>Компания имеет широкую географию
        клиентов: более 6000 человек пользуются
        продуктами «Открытого Дома»
        по всей стране.
      </div>
    </div>
  </div>
</div>