<div class="container criteria">
  <h2 class="criteria__title">Основные <span class="selected">критерии</span> успеха при реализации
    проекта</h2>
  <div class="criteria__item criteria__item_first">
    <span class="criteria__count">01</span>
    <span>Наличие уникального финансового продукта
      «КОПИКУПИ» с объемом рынка сбыта
      более 327 млрд руб.
    </span>
  </div>
  <div class="flex_end">
    <div class="criteria__item criteria__item_second">
      <span class="criteria__count">02</span>
      <span>Практически полное отсутствие
        конкурентов в кооперативной нише.
      </span>
    </div>
  </div>
  <div class="criteria__item criteria__item_third">
    <span class="criteria__count">03</span>
    <span>Наличие на базе сервиса OdivENi.RU<br/>
      отработанных технологий: «Народное финансирование»,
      «Поэтапная реализация» и «Совместное накопление».
    </span>
  </div>
  <div class="flex_end">
    <div class="criteria__item criteria__item_fourth">
      <span class="criteria__count">04</span>
      <span>Компания имеет широкую географию
        клиентов: более 6000 человек пользуются
        продуктами «Открытого Дома»
        по всей стране.
      </span>
    </div>
  </div>
</div>