<div class="container documents">
  <div class="title_margin_big">Документы</div>
  <div class="flex documents__area">
    <div class="flex documents__column">
      <img src="img/doc-im.png" class="documents__image_shadow"/>
      <div class="documents__text">
        <div class="documents__title">Меморандум</div>
        Инвестиционный меморандум
        проекта “Федеральная офисная
        сеть ”Открытый дом”.</div>
    </div>
    <div class="documents__column_right">
      <div class="documents__item">
        <div class="pdf"></div>
        <div><div class="bold"><div class="selected">Договор</div> ФОС</div><br/>
          об участии в проекте<br/>
          «Федеральная офисная сеть «Открытый Дом»</div>
      </div>
      <div class="documents__item">
        <div class="pdf"></div>
        <div><div class="bold"><div class="selected">Устав</div> компании</div><br/>
          НК «Открытый Дом»</div>
      </div>
      <div class="documents__item">
        <div class="pdf"></div>
        <div><div class="bold"><div class="selected">Выписка</div> из УГРЮЛ</div><br/>
          НК «Открытый Дом» (ООО)</div>
      </div>
      <div class="documents__item">
        <div class="pdf"></div>
        <div><div class="bold"><div class="selected">ОГРН</div> компании</div><br/>
          НК «Открытый Дом» (ООО)</div>
      </div>
    </div>
  </div>
</div>