<div class="container documents">
  <h1 class="title_margin_big">Документы</h1>
  <div class="flex documents__area">
    <div class="flex documents__column">
      <div class="documents__image">
        <a href="../files/memorandum.pdf"
           target="_blank"
           class="documents__image_opacity">
          <div class="documents__search"></div>
        </a>
      </div>
      <div class="documents__text">
        <h3 class="documents__title_big">Меморандум</h3>
        <p>Инвестиционный меморандум проекта “Федеральная офисная сеть ”Открытый дом”.</p>
      </div>
    </div>
    <div class="documents__column_right">
      <div class="documents__item">
        <a href="../files/memorandum.pdf"
           target="_blank" download><img class="documents__icon" src="../img/icons/pdf-icon.png"/></a>
        <span class="documents__text"><span class="documents__title">
          <span class="selected">Договор</span> ФОС</span>
          об участии в проекте«Федеральная офисная сеть «Открытый Дом»</span>
      </div>
      <div class="documents__item">
        <a href="../files/memorandum.pdf"
           target="_blank" download><img class="documents__icon" src="../img/icons/pdf-icon.png"/></a>
        <span class="documents__text"><span class="documents__title">
          <span class="selected">Устав</span> компании</span>НК «Открытый Дом»</span>
      </div>
      <div class="documents__item">
        <a href="../files/memorandum.pdf"
           target="_blank" download><img class="documents__icon" src="../img/icons/pdf-icon.png"/></a>
        <span class="documents__text"><span class="documents__title">
          <span class="selected">Выписка</span> из ЕГРЮЛ</span>
          НК «Открытый Дом» (ООО)</span>
      </div>
      <div class="documents__item">
        <a href="../files/memorandum.pdf"
           target="_blank" download><img class="documents__icon" src="../img/icons/pdf-icon.png"/></a>
        <span class="documents__text"><span class="documents__title">
          <span class="selected">ОГРН</span> компании</span>
          НК «Открытый Дом» (ООО)</span>
      </div>
    </div>
  </div>
</div>