<footer class="footer__back">
  <div class="container footer">
    <div class="flex">
      <div class="flex footer__wrap">
        <div class="flex footer__wrapper footer__wrapper_1">
          //= footer/companies.html
          //= footer/contacts.html
        </div>
        <div class="flex footer__wrapper footer__wrapper_2">
          //= footer/vk.html
          //= footer/fb.html
        </div>
      </div>
      //= footer/right.html
    </div>
    <p class="footer__text">© 2018 alliz
      <a href="https://github.com/lessarea">
        <img src="../img/icons/gitHub.png" class="icon__gitHub"/>
      </a></p>
  </div>
</footer>