<footer class="footer__back">
  <div class="container footer">
    <div class="flex">
      <div class="flex footer__wrap">
        <div class="flex footer__wrapper footer__wrapper_1">
          //= footer/companies.html
          //= footer/contacts.html
        </div>
        <div class="flex footer__wrapper footer__wrapper_2">
          //= footer/vk.html
          //= footer/fb.html
        </div>
      </div>
      //= footer/right.html
    </div>
    <p class="footer__text">2015-2017 г © Все права защищены. Народная Компания «Открытый Дом»
      (ООО). ОГРН:
      1155543025461; ИНН/КПП: 5505048797 / 550301001; Устав Компании</p>
  </div>
</footer>