<div class="investor__back">
  <div class="container investor__area">
    <div class="title investor__title">Как стать <div class="selected">инвестором</div>?</div>
    <div class="flex investor__items">
      <div class="investor__item">
        <div class="investor__item_inside">
          <img class="investor__image" src="img/items-icon-1.png"/>
          <div>Определите сумму инвестиций</div>
        </div>
      </div>
      <div class="investor__item">
        <div class="investor__item_inside">
          <img class="investor__image" src="img/items-icon-2.png"/>
          <div>Заведите личный кабинет инвестора</div>
        </div>
      </div>
      <div class="investor__item">
        <div class="investor__item_inside">
          <img class="investor__image" src="img/items-icon-3.png"/>
          <div>Инвестируйте в проект</div>
        </div>
      </div>
      <div class="investor__item">
        <div class="investor__item_inside">
          <img class="investor__image" src="img/items-icon-4.png"/>
          <div>Проголосуйте за город</div>
        </div>
      </div>
      <div class="investor__item">
        <div class="investor__item_inside">
          <img class="investor__image" src="img/items-icon-5.png"/>
          <div>После первой сделки вы получаете доход</div>
        </div>
      </div>
    </div>
    <div class="investor__text">Мы создаем необходимый обществу продукт,
      <div class="selected">вы получаете высокий</div> доход
    </div>
    <button type="button" class="btn btn_blue">Стать инвестором</button>
  </div>
</div>