<div class="investor__back">
  <div class="container investor">
    <h1 class="title investor__title">Как стать <span class="selected">инвестором</span>?</h1>
    <div class="flex investor__items">
      <div class="investor__item">
        <div class="investor__item_inside">
          <div class="investor__icon investor__icon_1"></div>
          <span>Определите сумму инвестиций</span>
        </div>
      </div>
      <div class="investor__item">
        <div class="investor__item_inside">
          <div class="investor__icon investor__icon_2"></div>
          <span>Заведите личный кабинет инвестора</span>
        </div>
      </div>
      <div class="investor__item">
        <div class="investor__item_inside">
          <div class="investor__icon investor__icon_3"></div>
          <span>Инвестируйте в проект</span>
        </div>
      </div>
      <div class="investor__item">
        <div class="investor__item_inside">
          <div class="investor__icon investor__icon_4"></div>
          <span>Проголосуйте за город</span>
        </div>
      </div>
      <div class="investor__item">
        <div class="investor__item_inside">
          <div class="investor__icon investor__icon_5"></div>
          <span>После первой сделки вы получаете доход</span>
        </div>
      </div>
    </div>
    <h3 class="investor__title_small">Мы создаем необходимый обществу продукт,
      <span class="selected">вы получаете высокий</span> доход</h3>
    <button type="button" class="btn btn_blue_big">Стать инвестором</button>
  </div>
</div>