<div class="container positions">
  <h2 class="positions__title">Почему <span class="selected">стоит инвестировать</span> в
    федеральную офисную сеть</h2>
  <div class="container flex positions__area">
    <img class="positions__column_shadow" src="img/pos-image.png"/>
    <div class="positions__column">
      <div class="positions__item">
        <div class="positions__icon positions__icon_1"></div>
        <div class="positions__text_wrapped">
          <h3 class="positions__title_small">Высокий уровень доходности</h3>
          <p class="positions__text positions__text_first">Пассивный доход уже с первой сделки! В
            любое время в Личном Кабинете вы можете отслеживать состояние вложений и доходов
            онлайн</p>
        </div>
      </div>
      <div class="positions__item">
        <div class="positions__icon positions__icon_2"></div>
        <div class="positions__text_wrapped">
          <h3 class="positions__title_small">Доступно каждому</h3>
          <p class="positions__text positions__text_second">Сумма вложения от 100 рубей</p>
        </div>
      </div>
      <div class="positions__item">
        <div class="positions__icon positions__icon_3"></div>
        <div class="positions__text_wrapped">
          <h3 class="positions__title_small">Официальный договор с компанией</h3>
          <p class="positions__text positions__text_third"> Подписываете договор с нашей компанией,
            а мы берем на себя все управление объектом и проектом, предоставляем вам возможность
            следить за деятельностью проекта в режиме онлайн</p>
        </div>
      </div>
      <div class="positions__item">
        <div class="positions__icon positions__icon_4"></div>
        <div class="positions__text_wrapped">
          <h3 class="positions__title_small">Уникальный проект</h3>
          <p class="positions__text positions__text_fourth">Мы используем современные технологии и
            возможности потребительской кооперации, чтобы дать возможность людям приобретать
            недвижимость и автомобиль на самых выгодных условиях (0% годовых)</p>
        </div>
      </div>
      <div class="positions__item">
        <div class="positions__icon positions__icon_5"></div>
        <div class="positions__text_wrapped">
          <h3 class="positions__title_small">Полная безопасность</h3>
          <p>Строгое соблюдение законодательства РФ</p>
        </div>
      </div>
    </div>
  </div>
</div>