<div class="container positions__area">
  <div class="positions__title_main">
    Почему
    <div class="selected">стоит инвестировать</div>
    в федеральную офисную сеть
  </div>
  <div class="container flex">
    <img class="positions__column_shadow" src="img/pos-image.png"/>
    <div class="positions__column">
      <div class="positions__item">
        <img class="positions__icon" src="img/pos-icon-1.png"/>
        <div class="positions__text">
          <div class="positions__title">Высокий уровень доходности</div>
          <div class="positions__text_first">Пассивный доход уже с первой сделки! В любое время в
            Личном Кабинете вы можете отслеживать состояние вложений и доходов онлайн
          </div>
        </div>
      </div>
      <div class="positions__item">
        <img class="positions__icon" src="img/pos-icon-2.png"/>
        <div class="positions__text">
          <div class="positions__title">Доступно каждому</div>
          <div class="positions__text_second">Сумма вложения от 100 рубей</div>
        </div>
      </div>
      <div class="positions__item">
        <img class="positions__icon" src="img/pos-icon-3.png"/>
        <div class="positions__text">
          <div class="positions__title">Официальный договор с компанией</div>
          <div class="positions__text_third"> Подписываете договор с нашей компанией, а мы берем на
            себя все
            управление объектом и проектом, предоставляем вам возможность
            следить за деятельностью проекта в режиме онлайн
          </div>
        </div>
      </div>
      <div class="positions__item">
        <img class="positions__icon" src="img/pos-icon-4.png"/>
        <div class="positions__text">
          <div class="positions__title">Уникальный проект</div>
          <div class="positions__text_fourth">Мы используем современные технологии и возможности
            потребительской кооперации, чтобы дать возможность людям
            приобретать недвижимость и автомобиль на самых выгодных условиях (0% годовых)
          </div>
        </div>
      </div>
      <div class="positions__item">
        <img class="positions__icon" src="img/pos-icon-5.png"/>
        <div class="positions__text">
          <div class="positions__title">Полная безопасность</div>
          Строгое соблюдение законодательства РФ
        </div>
      </div>
    </div>
  </div>
</div>