<div class="sequence__back">
  <div class="container sequence__area">
    <div class="warning flex">
      <div class="warning__text">Настоящим обращаем Ваше внимание, что, если это прямо не указано и поименовано, все изложенное на
        сайте носит исключительно
        информационный характер и ни при каких условиях не является публичной офертой, определяемой положениями
        Статьи
        437 Гражданского
        кодекса Российской Федерации. Условия оферты определены в соответствующем поименованном разделе
        сайта.</div>
      <img src="img/calc-balloons.png"/>
    </div>
    <div class="title">Этапность</div>
    <div class="sequence__text">Проект разделен на отдельные этапы, так называемые "цели",<br/>
      и финансирование Проекта происходит поэтапно: от одной цели к другой.</div>
  
    //= sequence/steps.html
  </div>
</div>