<div class="sources__back">
  <div class="container sources__area">
    <div class="sources__text">
      <div class="title">Источники <div class="selected">дохода</div></div>
      <div>Мы открываем федеральную сеть офисов вместе с вами в 37 городах с население более
        500 000 человек, жители 37 городов получают возможность обслуживаться по программам
        “КопиКупи” и стать участником других проектов “Открытого Дома”
      </div>
    </div>
    
    //= sources/first.html
    //= sources/second.html
    //= sources/third.html
  </div>
</div>