<div class="sources__back">
  <div class="container sources">
    <div class="sources__text">
      <h1 class="title">Источники <span class="selected">дохода</span></h1>
      <p>Мы открываем федеральную сеть офисов вместе с вами в 37 городах с население более
        500 000 человек, жители 37 городов получают возможность обслуживаться по программам
        “КопиКупи” и стать участником других проектов “Открытого Дома”</p>
    </div>
    
    //= sources/first.html
    //= sources/second.html
    //= sources/third.html
  </div>
</div>