<div class="advantages__area">
  <div class="flex advantages__line_first">
    <div class="advantages__item">
      <img src="../../img/adv-icon-1.1.png"/>
      <div class="advantages__text">Уставный капитал 15 млн. руб</div>
    </div>
    <div class="advantages__item">
      <img src="../../img/adv-icon-1.2.png"/>
      <div class="advantages__text">Широкая геогрфия клиентов</div>
    </div>
  </div>
  <div class="flex">
    <div class="advantages__item_middle">
      <img src="../../img/adv-icon-2.1.png"/>
      <div class="advantages__text">Мощные отработанные технологии,
        применяемые только на платформе ОД
      </div>
    </div>
    <div class="advantages__item_central">
      <img class="advantages__image" src="../../img/adv-central-im.png"/>
    </div>
    <div class="advantages__item_middle">
      <img src="../../img/adv-icon-2.2.png">
      <div class="advantages__text">Прозрачная бухгалтерия</div>
    </div>
  </div>
  <div class="flex advantages_line_last">
    <div class="advantages__item">
      <img src="../../img/adv-icon-3.1.png"/>
      <div>Компания реализует исключительно выгодные
        и полезные для всего общества проекты
      </div>
    </div>
    <div class="advantages__item">
      <img src="../../img/adv-icon-3.2.png">
      <div class="advantages__text">Сформирована команда проверенных
        и опытных специалистов
      </div>
    </div>
  </div>
</div>