<div class="advantages__area">
  <div class="flex advantages__line_first">
    <div class="advantages__item">
      <div class="advantages__icon advantages__icon_1_1"></div>
      <span class="advantages__text">Уставный капитал 15 млн. руб</span>
    </div>
    <div class="advantages__item">
      <div class="advantages__icon advantages__icon_1_2"></div>
      <span class="advantages__text">Широкая геогрфия клиентов</span>
    </div>
  </div>
  <div class="flex">
    <div class="advantages__item_middle">
      <div class="advantages__icon advantages__icon_2_1"></div>
      <span class="advantages__text">Мощные отработанные технологии,
        применяемые только на платформе ОД</span>
    </div>
    <div class="advantages__item_central">
      <img class="advantages__image" src="../../img/pictures/advantages-central.png"/>
    </div>
    <div class="advantages__item_middle">
      <div class="advantages__icon advantages__icon_2_2"></div>
      <span class="advantages__text">Прозрачная бухгалтерия</span>
    </div>
  </div>
  <div class="flex advantages__line_last">
    <div class="advantages__item">
      <div class="advantages__icon advantages__icon_3_1"></div>
      <span class="advantages__text">Компания реализует исключительно выгодные
        и полезные для всего общества проекты</span>
    </div>
    <div class="advantages__item">
      <div class="advantages__icon advantages__icon_3_2"></div>
      <span class="advantages__text">Сформирована команда проверенных
        и опытных специалистов</span>
    </div>
  </div>
</div>