<div class="flex advantages__text">
  <div><div class="bold">«Открытый Дом»</div> - это прогрессивный подход к бизнесу, путем объединения
    людей с общими целями.<br/>
    Миссия <div class="bold">“Открытого Дома”</div> - стать успешными в своем деле. Мы возлагаем
    на себя ответственность перед клиентами, сотрудниками, обществом
    в целом и нашими инвесторами. Именно такой порядок приоритетов
    <div class="bold">гарантирует нашим инвесторам</div> получение доходов выше средних.</div>
  <div class="advantages__logo">
    <a href="#"><img src="img/color-logo.png"/></a>
  </div>
</div>