<div class="flex advantages__text_main">
  <p><span class="bold">«Открытый Дом»</span> - это прогрессивный подход к бизнесу, путем объединения
    людей с общими целями.<br/>
    Миссия <span class="bold">“Открытого Дома”</span> - стать успешными в своем деле. Мы возлагаем
    на себя ответственность перед клиентами, сотрудниками, обществом
    в целом и нашими инвесторами. Именно такой порядок приоритетов
    <span class="bold">гарантирует нашим инвесторам</span> получение доходов выше средних.</p>
  <div class="advantages__wrapped">
    <a href="#" class="logo__link"><img class="advantages__logo" src="img/color-logo.png"/></a>
  </div>
</div>