<div class="steps">
  <div class="steps__wrapper">
    <div class="steps__item">
      <a href="#" class="steps__link">1</a>
      <div class="item__text item__text_down">Сбор инвестиций</div>
      <div class="steps__wrapper">
        <div class="steps__item">
          <a href="#" class="steps__link steps__link_2">2</a>
          <div class="item__text item__text_up">Пробретение офисов</div>
          <div class="steps__wrapper">
            <div class="steps__item">
              <a href="#" class="steps__link steps__link_3">3</a>
              <div class="item__text item__text_down">Оборудовние офиса</div>
              <div class="steps__wrapper">
                <div class="steps__item">
                  <a href="#" class="steps__link steps__link_4">4</a>
                  <div class="item__text item__text_up">Найм персонала</div>
                  <div class="steps__wrapper">
                    <div class="steps__item">
                      <a href="#" class="steps__link steps__link_5">5</a>
                      <div class="item__text item__text_down">Подготовка к открытию и рекламной компании</div>
                      <div class="steps__wrapper">
                        <div class="steps__item">
                          <a href="#" class="steps__link steps__link_6">6</a>
                          <div class="item__text item__text_up">Открытие офиса</div>
                          <div class="steps__wrapper">
                            <div class="steps__item">
                              <a href="#" class="steps__link steps__link_7">7</a>
                              <div class="item__text item__text_down">Первая сделка</div>
                              <div class="steps__wrapper">
                                <div class="steps__item">
                                  <a href="#" class="steps__link steps__link_8">8</a>
                                  <div class="item__text item__text_up">Получение прибыли инвестором</div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>