<div class="feed">
  <h1 class="feed__title">Остались <span class="selected">вопросы</span>?</h1>
  <p>Звоните, наши специалисты быстро рассчитают вашу<br/>
    доходность и расскажут об особенностях нашего проекта</p>
  <form class="feed__form">
    <input required class="input feed__input" type="text" placeholder="Введите ваше имя"/>
    <input required class="input feed__input" placeholder="Введите номер телефона"/>
    <input required class="input feed__input" type="email" placeholder="Электронная почта"/>
    <label class="feed__label">
      <input required class="feed__checkbox" type="checkbox" checked/>
      Отправляя заявку, вы соглашаетесь на обработку ваших персональных данных
    </label>
    <button type="submit" class="btn btn__feed_blue">Оставить заявку</button>
  </form>
</div>